{% extends 'templates/app.twig' %}
{% block title %}Contact | {% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/contact.css">
{% endblock %}
{% block style %}
#footer{
	display: none;
}
{% endblock %}
{% block bodyTag %}id="blueGradient"{% endblock %}
{% block content %}
	<div id="centered">
		<div id="hero">
			<img src="{{base_url()}}/images/contactHero.png" alt="Contact Us">
		</div>
		<div id="kitchen">
			<div id="sociallinks">
				<ul>
					<li><a href="https://www.facebook.com/joycestickvr/"><img src="{{base_url()}}/images/facebook.png" ></li></a>
					<li><a href="mailto:nugent@bc.edu"><img src="{{base_url()}}/images/mail.png"></li></a>
					<li><a href="http://twitter.com/joycestickvr"><img src="{{base_url()}}/images/twitter.png"></li></a>
				</ul>
			</div>
			<div id="press">
				<a id="pressKit" href="{{base_url()}}/pressKit.zip">
					<button>PRESS KIT</button>
				</a>
			</div>
		</div>
	</div>
{% endblock %}