{% extends 'templates/app.twig' %}
{% block title %}Gallery | {% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/gallery.css">
{% endblock %}
{% block bodyTag %}id="blueGradient"{% endblock %}
{% block content %}
	<div id="modelling" class="teamSection">
		<div id="hero">
			<img src="{{base_url()}}/images/galleryHero.png" alt="Modeling Our Objects" draggable="false">
		</div>
		<div id="meetTheTeam" class="center topMeetTeam"><h4>Meet The Team</h4></div>
		<div class="teamMembers">
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/BenPiperno.jpg" draggable="false" alt="Ben Piperno"></div>
				<div class="memberName">Ben<br>Piperno</div>
				<div class="memberLink">
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/VinnyRoca.jpg" draggable="false" alt="Vinny Roca"></div>
				<div class="memberName">Vinny<br>Roca</div>
				<div class="memberLink">
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/JanvanMerkensteijn.jpg" draggable="false" alt="Jan van Merkensteijn"></div>
				<div class="memberName">Jan van<br>Merkensteijn</div>
				<div class="memberLink">
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/LiamWeir.jpg" draggable="false" alt="Liam Weir"></div>
				<div class="memberName">Liam<br>Weir</div>
				<div class="memberLink">
					<a href="http://liamweir.com">Website</a>
				</div>
			</div>
		</div>
		<div class="teamMembers">
			<div class="teamMember">
				<div class="memberPhoto"><img src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/16425841_1192963457477838_1962379387086441513_n.png?oh=9d081ce03f90726708b070db03841349&oe=5962C21F" draggable="false" alt="Reilly Knutson"></div>
				<div class="memberName">Reilly<br>Knutson</div>
				<div class="memberLink">
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/16425841_1192963457477838_1962379387086441513_n.png?oh=9d081ce03f90726708b070db03841349&oe=5962C21F" draggable="false" alt="Brian Kang"></div>
				<div class="memberName">Brian<br>Kang</div>
				<div class="memberLink">
					<a href="http://bmkang.com>">Website</a>
				</div>
			</div>
		</div>
		<div class="teamDescription">
			<div class="drop">M</div>
			<div class="description">
				odelling is at the core of the Joycestick project. Our modelling team produces 3D objects from the book, taking great pains to recreate them as faithfully as possible. In many ways, the story of Ulysses is the story of a series of different objects, and we’ve made them integral to the experience of Joycestick. 

				You can click and interact with any of the above objects to get a feel for what they’re like in game. These objects are just some of the 100 objects our modellers have made over the course of a year. 

				Curious to hear more? Check out our video below.
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div id="sound" class="teamSection">
		<div id="hero">
			<img src="{{base_url()}}/images/soundHero.png" alt="Creating Our Sound">
			</div>
		<div id="meetTheTeam" class="center"><h4>Meet The Team</h4></div>
		<div class="teamMembers">
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/AlexHarder.jpg" draggable="false" alt="Alex Harder"></div>
				<div class="memberName">Alex<br>Harder</div>
				<div class="memberLink">
					<a href="http://alexharder.com/">Website</a>
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/16425841_1192963457477838_1962379387086441513_n.png?oh=9d081ce03f90726708b070db03841349&oe=5962C21F" draggable="false" alt="Elia Bishara"></div>
				<div class="memberName">Elia<br>Bishara</div>
				<div class="memberLink">
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/GriffinRobillard.jpg" draggable="false" alt="Griffin Robillard"></div>
				<div class="memberName">Griffin<br>Robillard</div>
				<div class="memberLink">
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/RyanBradley.jpg" draggable="false" alt="Ryan Bradley"></div>
				<div class="memberName">Ryan<br>Bradley</div>
				<div class="memberLink">
					<a href="https://www.linkedin.com/in/ryansbradley/">LinkedIn</a>
				</div>
			</div>
		</div>
		<div class="teamDescription">
			<div class="drop">S</div>
			<div class="description">
				ound is one of the most important aspects of creating a believable and immersive virtual environment. This team consists of both Boston College and Berklee College of Music students. 

				They are responsible for all the sound in the game, from narration to object interaction and have even built a video game music score. For a sample of the soundscape of Joycestick, try clicking on the graphic above.

				Curious to hear more? Check out our video below.
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div id="dev" class="teamSection">
		<div id="hero">
			<img src="{{base_url()}}/images/devHero.png" alt="Coding Our Game">
		</div>
		<div id="meetTheTeam" class="center"><h4>Meet The Team</h4></div>
		<div class="teamMembers">
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/RyanReede.jpg" draggable="false" alt="Ryan Reede"></div>
				<div class="memberName">Ryan<br>Reede</div>
				<div class="memberLink">
					<a href="https://reedery.github.io/">Website</a>
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/EvanOtero.jpg" draggable="false" alt="Evan Otero"></div>
				<div class="memberName">Evan<br>Otero</div>
				<div class="memberLink">
					<a href="http://evanotero.com">Website</a>
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/DrewHoo.jpg" draggable="false" alt="Drew Hoo"></div>
				<div class="memberName">Drew<br>Hoo</div>
				<div class="memberLink">
					<a href="http://drewhoo.com/">Website</a>
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/EmaadAli.jpg" draggable="false" alt="Emaad Ali"></div>
				<div class="memberName">Emaad<br>Ali</div>
				<div class="memberLink">
				</div>
			</div>
		</div>
		<div class="teamMembers">
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/MattHarty.jpg" draggable="false" alt="MattHarty"></div>
				<div class="memberName">Matt<br>Harty</div>
				<div class="memberLink">
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/16425841_1192963457477838_1962379387086441513_n.png?oh=9d081ce03f90726708b070db03841349&oe=5962C21F" draggable="false" alt="Will Bowditch"></div>
				<div class="memberName">Will<br>Bowditch</div>
				<div class="memberLink">
					<a href="https://github.com/wbowditch">Github</a>
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/JakeSchafer.jpg" draggable="false" alt="Jake Schafer"></div>
				<div class="memberName">Jake<br>Schafer</div>
				<div class="memberLink">
					<a href="https://github.com/CoolDude53">Github</a>
				</div>
			</div>
		</div>
		<div class="teamDescription">
			<div class="drop">D</div>
			<div class="description">
				evelopers bring all the different Joycestick elements together. The coding team is responsible for writing all the scripts and commands that make Joycestick run as a virtual reality experience, with a focus on building meaningful interactivity with the game’s various modelled objects.

				Interaction is at the heart of virtual reality: the development team spend much of their time making the actions within the game satisfying and fun while remaining faithful to the story of the novel.

				Curious to hear more? Check out our video below.
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div id="text" class="teamSection">
		<div id="hero">
			<img src="{{base_url()}}/images/textHero.png" alt="Writing Our Narrative">
		</div>
		<div id="meetTheTeam" class="center"><h4>Meet The Team</h4></div>
		<div class="teamMembers">
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/AnthonyPerasso.jpg" draggable="false" alt="Anthony Perasso"></div>
				<div class="memberName">Anthony<br>Perasso</div>
				<div class="memberLink">
					<a href="http://anthonyperasso.tumblr.com">Website</a>
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/CharlesCohen.jpg" draggable="false" alt="Charles Cohen"></div>
				<div class="memberName">Charles<br>Cohen</div>
				<div class="memberLink">
					<a href="https://www.linkedin.com/in/charles-c-a43751a9/">LinkedIn</a>
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/16425841_1192963457477838_1962379387086441513_n.png?oh=9d081ce03f90726708b070db03841349&oe=5962C21F" draggable="false" alt="Kevin Sweet"></div>
				<div class="memberName">Kevin<br>Sweet</div>
				<div class="memberLink">
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/AlisDicpinigaitis.jpg" draggable="false" alt="Alis Dicpinigaitis"></div>
				<div class="memberName">Alis<br>Dicpinigaitis</div>
				<div class="memberLink">
				</div>
			</div>
		</div>
		<div class="teamMembers">
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/DavidDeVore.jpg" draggable="false" alt="David DeVore"></div>
				<div class="memberName">David<br>DeVore</div>
				<div class="memberLink">
					<a href="https://www.linkedin.com/in/david-devore-848702137/">LinkedIn</a>
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/JuliaAppicelli.jpg" draggable="false" alt="Julia Appicelli"></div>
				<div class="memberName">Julia<br>Appicelli</div>
				<div class="memberLink">
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/16425841_1192963457477838_1962379387086441513_n.png?oh=9d081ce03f90726708b070db03841349&oe=5962C21F" draggable="false" alt="Kelsey Trimm"></div>
				<div class="memberName">Kelsey<br>Trimm</div>
				<div class="memberLink">
					<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Website</a>
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/LauraMcLaughlin.jpg" draggable="false" alt="Laura McLaughlin"></div>
				<div class="memberName">Laura<br>McLaughlin</div>
				<div class="memberLink">
				</div>
			</div>
		</div>
		<div class="teamMembers">
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/MichaelQuinn.jpg" draggable="false" alt="Michael Quinn"></div>
				<div class="memberName">Michael<br>Quinn</div>
				<div class="memberLink">
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/RossTetzloff.jpg" draggable="false" alt="Ross Tetzloff"></div>
				<div class="memberName">Ross<br>Tetzloff</div>
				<div class="memberLink">
				</div>
			</div>
			<div class="teamMember">
				<div class="memberPhoto"><img src="{{base_url()}}/images/people/DavidGullette.jpg" draggable="false" alt="David Gullette"></div>
				<div class="memberName">David<br>Gullette</div>
				<div class="memberLink">
				</div>
			</div>
		</div>
		<div class="teamDescription">
			<div class="drop">T</div>
			<div class="description">
				he text team seeks to formulate an understanding of the Ulysses narrative as a function of a collection of objects to be discovered by users in the realm of virtual reality. This conceptual framework borrows from similar works such as “Ireland in 100 Objects.”

				 The group must simultaneously preserve the integrity of the text and allow it to be accessible to readers not familiar with its immense intricacy; as such, the tone of the prose produced by members of the group is essentially to conveying a cogent and cohesive message to users.

				Curious to hear more? Check out our video below.
			</div>
		</div>
	</div>	
{% endblock %}