<div id="footer">
	<div id="footerImage">
		<a href="https://www.youtube.com/watch?v=oOQ-NyNIj_E"><div id="leftGlasses"></div></a>
		<a href="https://www.youtube.com/watch?v=0vMDUmEAhRQ"><div id="rightGlasses"></div></a>
		<img src="{{ base_url() }}/images/glasses.png" draggable="false" id="imgfooter">
	</div>
	<h1>In the Press</h1>
	<div id="testimonials">
		<div id="testimonial">
			<p>"A grand and preposterous undertaking"</p>
			<span>BC NEWS</span>
		</div>
		<div id="testimonial">
			<p>"This project has no precedent—not at BC or any university or museum"</p>
			<span>THE HEIGHTS</span>
		</div>
		<div id="testimonial">
			<p>"An environment that will allow users to feel as though they’ve entered the novel"</p>
			<span>BC MAGAZINE</span>
		</div>
	</div>
	<div class="clear"></div>
	<h1>EXHIBITS</h1>
	<div id="events">
		<div id="event">
			<p>TORONTO</p>
			<span>JUNE 21, 2017</span>
		</div>
		<div id="event">
			<p>DUBLIN</p>
			<span>JUNE 16, 2017</span>
		</div>
		<div id="event">
			<p>D.C.</p>
			<span>OCT 13-15, 2017</span>
		</div>
	</div>
	<div class="clear"></div>
	<div id="social">
		<ul>
			<a href="https://www.facebook.com/joycestickvr/">
				<li><img src="{{ base_url() }}/images/fbicon.png"></li>
			</a>
			<a href="mailto:nugent@bc.edu">
				<li><img src="{{ base_url() }}/images/mailIcon.png"></li>
			</a>
			<a href="https://github.com/JoyceStick-BC">
				<li><img src="{{ base_url() }}/images/gitIcon.png"></li>
			</a>
		</ul>
	</div>
	<div id="bc">
		<img src="{{ base_url() }}/images/bclogo.png">
	</div>
</div>